<div class="container" id="home-container">
    <div class="jumbotron p-5 text-white rounded text-center">
        <h1>Alpha Blog</h1>
        <p>Lorem ipsum...</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, aliquam!</p>

        <button class="btn btn-success">Sign up!</button>
    </div>
</div>
