@import "bootstrap";

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), 
    asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
}

#page-content {
    flex: 1.0 auto;
    background-color: lightgray;
}

html, body {
    height: 100%;
}

